<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj studenta</title>
</head>
<body>
<!--używając standardowych znaczników html definiujemy metodę z jaką zostanie wywołane żądanie przy zatwierdzaniu formularza, metoda ta musi odpowiadać tej zdefiniowanej w kontrolerze
 akcję z kolei definujemy przy pomocy thymeleafowego znacznika th:action i konwencji @{} - do rozwiązania adresu żądania
 znacznik th:object jest definicją obiektu, z którego będziemy korzystać w naszym formularzu, pozwoli nam to odwoływać się do jego popertisów bezpośrednio, bez konieczności umieszczanie 'student.' przed nazwą propertisu
 nazwa obiektu w znaczniku th:object musi odpowiadać tej dodanej do modelu w kontrolerze-->
<form method="POST" th:action="@{/students-page}" th:object="${student}">
    <label>
        Name
<!--        znacznik th:field pozwala nam pobrać wartość z tego inputu do pola name, zapis *{} jest odniesieniem do obiektu studenta zdefiniowanego w formularzu przez th:object-->
        <input id="name-input" th:field="*{name}"/>
    </label>
    <label>
        Unit
        <select id="unit-input" name="unit" th:field="*{unit}">
<!--            w znaczniku th:each pojawia się SpeL(Spring expression language), który pozwala nam odwołać się do klasy w naszym projekcie i wywołać na niej metodę values()-->
            <option th:each="studentUnit : ${T(com.example.monday.data.StudentUnit).values()}"
                    th:value="${studentUnit}" th:text="${studentUnit}">
<!--        w przypadku option mamy znacznik th:value, który odpowiada nam za przypisanie wartości do pola
 wartość ta będzie przekazana do naszego th:field po wybraniu opcji przez użytkownika -->

            </option>
        </select>
    </label>
    <button type="submit">Dodaj</button>
</form>

</body>
</html>