<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<p data-test="hello-message" th:text="'Hello ' + ${name != null ? name : 'World'}"></p>
Hello <p th:if="${name} != null" th:text="${name}"></p>
<p th:unless="${name} != null">World</p>

<form action="/students-page/email" method="get">
    <input type="text" name="email" placeholder="Wpisz email studenta">
    <button type="submit">Szukaj po Emailu</button>
</form>
<form action="/students-page/phone" method="get">
    <input type="text" name="phoneNumber" placeholder="Wpisz numer telefonu studenta">
    <button type="submit">Szukaj po Numerze Telefonu</button>
</form>

<table>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.name}"></td>
        <td th:text="${student.unit}"></td>
        <td th:text="${student.index}"></td>
        <td><a th:href="@{/students-page/update/{id}(id=${student.id})}">Aktualizuj</a></td>
    </tr>
    </tbody>
</table>

<a th:href="@{/students-page/add}">Dodaj Studenta</a>

<footer th:insert="footer.html"></footer>
</body>
</html>
