<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>

<div class="container">
    <h1 th:text="'Hello ' + (${name} != null ? ${name} : 'World')">Hello World</h1>

    <table>
        <thead>
        <tr>
            <th>Imię</th>
            <th>Jednostka</th>
            <th>Indeks</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.name}">Imię</td>
            <td th:text="${student.unit}">Jednostka</td>
            <td th:text="${student.index}">Indeks</td>
        </tr>
        </tbody>
    </table>

    <div class="buttons">
        <a th:href="@{/students-page/add}" class="btn">Dodaj Studenta</a>
        <a th:href="@{/studentDetails}" class="btn">Szczegóły studenta</a>
        <a th:href="@{/students-page/email/}" class="btn">Szukaj studenta po emailu</a>
        <a th:href="@{/students-page/phone/}" class="btn">Szukaj studenta po numerze telefonu</a>
        <a th:href="@{/updateStudent}" class="btn">Aktualizuj studenta</a>
    </div>

    <form th:action="@{/students-page/email/}" method="get">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <input type="submit" value="Szukaj studenta po emailu">
    </form>

    <form action="/students-page/phone" method="get">
        <label for="phoneNumber">Phone Number:</label><br>
        <input type="text" id="phoneNumber" name="phoneNumber"><br>
        <input type="submit" value="Search">
    </form>

</div>

<footer th:insert="~{footer.html}"></footer>

</body>
</html>