<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Student</title>
</head>
<body>
<h1>Update Student</h1>
<form th:action="@{/students-page/update/{id}(id=${student.id})}" th:object="${student}" method="post">
    <label for="id">ID:</label><br>
    <input type="text" id="id" th:field="*{id}" readonly><br>
    <label for="name">Name:</label><br>
    <input type="text" id="name" th:field="*{name}"><br>
    <label for="unit">Unit:</label><br>
    <input type="text" id="unit" th:field="*{unit}"><br>
    <label for="index">Index:</label><br>
    <input type="text" id="index" th:field="*{index}"><br>
    <label for="email">Email:</label><br>
    <input type="text" id="email" th:field="*{email}"><br>
    <label for="phoneNumber">Phone Number:</label><br>
    <input type="text" id="phoneNumber" th:field="*{phoneNumber}"><br><br>
    <input type="submit" value="Update">
</form>
</body>
</html>